// footer styles
@import "../base/variables";
@import "../base/mixins";

.footer {
  padding: 116px 0 30px 0;
  background-color: #242424;
  color: $white;

  @include d(1199) {
    padding: 80px 0 30px 0;
  }

  @include d(767) {
    padding: 60px 0 0 0;
  }

  &__logo {
    margin-bottom: 70px;

    @include d(991) {
      padding-left: 0;
    }

    @include d(767) {
      margin-bottom: 40px;
    }
  }

  .title-2,
  h2 {
    margin-bottom: 20px;
    color: $white;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
    justify-content: space-between;
  }

  &-social {
    &__list {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      @include d(767) {
        margin-bottom: 20px;
      }

      li:not(:last-child) {
        margin-right: 20px;
      }
    }

    .title-4,
    h4 {
      @include d(767) {
        display: none;
      }
    }
  }
  &-icons {
    display: flex;
    align-items: center;
    margin: 20px 0;
    li {
      width: 70px;
      height: 70px;
      position: relative;
      &:not(:last-child) {
        margin-right: 10px;
      }
      img, picture {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &-box {
    max-width: 20%;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 60px;

    @include d(991) {
      max-width: 50%;
      order: 2;
    }

    @include d(575) {
      max-width: 100%;
      margin-bottom: 30px;
    }

    .contact-info {
      position: static;
      background-color: transparent;
      padding: 0;
      box-shadow: none;
      max-width: 100%;

      &__box {
        margin-bottom: 10px;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    .title-4,
    h4 {
      margin-bottom: 20px;
    }

    .svg-icon_sm {
      fill: $white;
    }

    &:first-child {
      max-width: 40%;

      @include d(991) {
        max-width: 50%;
        order: 0;
      }

      @include d(575) {
        max-width: 100%;
      }
    }

    &:nth-child(5) {
      max-width: 40%;

      @include d(991) {
        max-width: 50%;
        order: 1;
      }

      @include d(575) {
        max-width: 100%;
        order: 3;
      }
    }

    &:nth-child(9) {
      margin-right: 0;
      margin-left: auto;
    }

    ul {
      li {
        margin-bottom: 5px;

        &.footer-list__subtitle {
          margin-bottom: 12px;

        }
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 50px;

      @include d(575) {
        margin-top: 0;
      }
    }
  }

  &-list__subtitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
  }

  &-form {
    max-width: 399px;

    input {
      width: 100%;
      background-color: transparent;
      color: $white;
      height: 30px;
      border-bottom: 1px solid $white;
      line-height: 30px;

      &::-webkit-input-placeholder {
        font-family: inherit;
        font-size: 14px;
        color: $white;
      }

      &::-moz-placeholder {
        font-family: inherit;
        font-size: 14px;
        color: $white;
      }

      &:-ms-input-placeholder {
        font-family: inherit;
        font-size: 14px;
        color: $white;
      }

      &::placeholder {
        font-family: inherit;
        font-size: 14px;
        color: $white;
      }
    }
  }
}

.svg-icon_social {
  width: 20px;
  height: 20px;
  fill: $white;
}

.copyright {
  font-size: 14px;

  @include d(991) {
    font-size: 16px;
  }

  @include d(767) {
    font-size: 14px;
  }
}