.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 29px 0 0 0;
  z-index: 2;
  color: $grey2;
  border-bottom: 1px solid rgba($white, 0.4);

  @include d(991) {
    border-bottom: none;
    padding: 15px 0 0 0;
  }

  &-row {
    display: flex;
    justify-content: space-between;
  }

  &::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, .2);
    position: absolute;
    top: 0;
    left: 24.5%;

    @include m(1920) {
      left: 34%;
    }

    @include d(991) {
      display: none;
    }
  }
}

.logo {
  max-width: 97px;
  position: relative;
  z-index: 12;

  @include d(991) {
    padding-left: 15px;
  }
}

.menu {
  margin-right: 20px;
  position: relative;
  opacity: 1;
  z-index: 1;
  pointer-events: initial;
  transition: opacity $hover-duration $timing;

  @include d(991) {
    position: fixed;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
    background-color: $white;
    color: $black;
    margin-right: 0;
    opacity: 0;
    pointer-events: none;
    left: -100px;
    transition: opacity $hover-duration $timing, left $hover-duration $timing;
    @include d(575) {
      width: 60vw;
    }
  }

  &.active {
    left: 0;
    pointer-events: initial;
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &-list {
    display: flex;

    @include d(991) {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 0 40px 30px;
      overflow-y: auto;
      margin-top: 80px;
      height: 90vh;
    }

    &>li {
      &>a {
        padding: 10px 68px 34px 0;

        @include d(991) {
          padding: 10px 20px 15px 0;
        }
      }
    }
  }

  &-item_icon {
    position: relative;

    &.active {
      &>a {
        &::before {
          transform: rotate(180deg);
        }
      }
    }

    &:hover {
      @include rh(991) {
        .sub-menu {
          opacity: 1;
          transform: translate(0, 0);
          pointer-events: initial;
        }

        &>a {
          &:before {
            transform: rotate(180deg);
          }
        }
      }
    }

    &>a {
      position: relative;

      &::before {
        content: "";
        width: 6px;
        height: 6px;
        background-image: url(../img/svg/triangle-down.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 20px;
        right: 54px;
        transition: transform $hover-duration $timing;

        @include d(991) {
          right: 0;
          background-image: url(../img/svg/triangle-down-black.svg);
          top: 18px;
        }
      }
    }
  }
}

.sub-menu {
  padding: 20px 40px 20px 20px;
  background-color: $primary;
  color: $white;
  position: absolute;
  top: 100%;
  // right: 0;
  left: 0;
  transform: translate(0, 10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity $hover-duration $timing, transform $hover-duration $timing,
    max-height $hover-duration $timing;

  @include d(991) {
    position: static;
    transform: translate(0, 0);
    padding: 0 0 0 30px;
    color: $primary;
    background-color: $white;
    opacity: 1;
    max-height: 0;
    overflow: hidden;
  }

  &>li {
    a {
      white-space: nowrap;
    }
  }
}

.search-form {
  position: absolute;
  top: 19%;
  right: 0;
  width: 706px;
  height: 20px;

  @include d(991) {
    top: -2px;
    right: 45px;
    max-width: 40%;
  }

  .btn-search {
    position: absolute;
    top: 80%;
    right: -4px;
    transform: translate(-50%, -50%);

    @include d(991) {
      background-image: url(../img/svg/search-black.svg);
    }

    &.active {
      background-image: url(../img/svg/close.svg);
      width: 30px;
      height: 30px;

      @include d(991) {
        width: 20px;
        height: 20px;
        background-image: url(../img/svg/close-black.svg);
      }
    }

    &_submit {
      left: 0;
      top: 10px;
      @include d(991) {
        width: 18px;
        height: 18px;
      }
    }
  }

  form {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    @include d(991) {
      top: 7px;
    }
    &.active {
      opacity: 1;
      pointer-events: initial;
      padding-bottom: 25px;
      border-bottom: 1px solid #D7D7D7;

      @include d(991) {
        padding-bottom: 5px;
        border-bottom: 1px solid $black;
      }
    }

    label {
      width: 100%;
    }

    input {
      width: 100%;
      padding-left: 19px;
      background-color: transparent;
      color: $white;

      @include d(991) {
        font-size: 14px;
        color: $black;
      }

      &::-webkit-input-placeholder {
        font-family: inherit;
        font-size: 16px;
        color: $white;

        @include d(991) {
          font-size: 14px;
          color: $black;
        }
      }

      &::-moz-placeholder {
        font-family: inherit;
        font-size: 16px;
        color: $white;

        @include d(991) {
          font-size: 14px;
          color: $black;
        }
      }

      &:-ms-input-placeholder {
        font-family: inherit;
        font-size: 16px;
        color: $white;

        @include d(991) {
          font-size: 14px;
          color: $black;
        }
      }

      &::placeholder {
        font-family: inherit;
        font-size: 16px;
        color: $white;

        @include d(991) {
          font-size: 14px;
          color: $black;
        }
      }
    }
  }
}

.burger {
  display: none;

  @include d(991) {
    display: block;
    position: absolute;
    top: 20%;
    right: 15px;
    width: 18px;
    height: 12px;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  &.active {
    span {
      &:first-child {
        transform: rotate(45deg);
        top: 5px;
      }

      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-45deg);
        bottom: 4px;
      }
    }
  }

  span {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: $black;
    z-index: 10;
    transition: width $hover-duration $timing, opacity $hover-duration $timing,
      transform $hover-duration $timing, top $hover-duration $timing,
      bottom $hover-duration $timing;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translate(0, -50%);
    }

    &:last-child {
      bottom: 0;
    }
  }
}

.menu-item_lg {
  position: static;

  .sub-menu {
    display: flex;
    flex-wrap: nowrap;
    padding: 50px 80px;
    right: 0;
    left: auto;

    @include d(1199) {
      padding: 20px 30px;
    }

    @include d(1024) {
      padding: 15px;
    }

    @include d(991) {
      padding: 0 0 0 30px;
      flex-wrap: wrap;
      max-width: 100%;

      a {
        flex-wrap: wrap;
        white-space: inherit;
      }
    }

    &>li {

      &>a {
        font-weight: bold;
        padding-bottom: 15px;
        border-bottom: 1px solid $white;
        margin-bottom: 15px;

        @include d(1199) {
          margin-bottom: 5px;
          padding-bottom: 5px;
        }
      }

      &:not(:last-child) {
        margin-right: 25px;
      }

      &>ul {
        &>li {
          margin-bottom: 4px;

          a {
            padding-left: 30px;
            position: relative;

            &::before {
              content: "";
              width: 20px;
              height: 20px;
              position: absolute;
              top: 3px;
              left: 0;
              background-image: url(../img/svg/arrow-up-right.svg);
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }
    }
  }
}