@import "../base/variables";
@import "../base/mixins";

.popup {
  position: absolute;
  max-width: 500px;
  background-color: $white;
  text-align: center;
  padding: 80px 120px 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  h4,
  .title-4 {
    color: $titleColor;
    margin-bottom: 10px;
  }

  p {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4em;
  }
}

.footer-popup {
  background-color: $black;
  color: $white;
  max-width: 1000px;
  margin: 0 15px;
  text-align: left;
  h3, .title-3 {
    color: $white;
    margin-bottom: 20px;
  }
  .btn {
    background-color: rgba($grey, .3);
    border-radius: 20px;
  }
}