.show-on-load {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity $duration $timing, transform $duration $timing;
}

// classes for animation
.js-show {
  transform: translate(0, 0) rotate(0);
  opacity: 1;
  transition: transform .8s cubic-bezier(0.6, 0, 0.41, 1), opacity .8s cubic-bezier(0.6, 0, 0.41, 1);
}

.js-fade-in {
  opacity: 0;
}

.js-slide-right {
  opacity: 0;
  transform: translate(50px, 0);
}

.js-slide-left {
  opacity: 0;
  transform: translate(-50px, 0);
}

.js-show-onload {
  transform: translate(0, 0) rotate(0);
  opacity: 1;
  transition: transform .8s cubic-bezier(0.6, 0, 0.41, 1), opacity .8s cubic-bezier(0.6, 0, 0.41, 1);
}

.hide-content {
  opacity: 0;
}

.js-slide-top {
  opacity: 0;
  transform: translate(0, 50px);
}