// project colors
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$textColor: #242424;
$primary: #0071CE;
$primaryHover: #004A98;
$titleColor: #439539;
$titleHover: #1A5632;

$grey: #7E7E7E;
$grey1: #D7D7D7;
$grey2: #F0F0F0;

// timing
$hover-duration: .3s;
$duration: .8s;
$timing: cubic-bezier(.17,.67,.55,1.05);