@import "../base/variables";

.about-hero {
  padding-bottom: 150px;

  &__title {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    margin-bottom: 60px;

    @include d(991) {
      justify-content: space-between;
    }

    @include d(767) {
      flex-direction: column;
    }

    h1,
    .title-2,
    h2,
    .title-2 {
      max-width: 900px;
      margin-right: 80px;

      @include d(991) {
        margin-right: 0;
        font-size: 24px;
        max-width: 460px;
      }

      @include d(767) {
        margin-bottom: 40px;
        max-width: 100%;
      }
    }

    .btn-play {
      @include d(767) {
        display: inline-flex;
        margin: 0 auto;
      }
    }
  }
}

.who-we-are {
  &__title {
    margin-bottom: 40px;
  }

  &__content {
    p {
      font-size: 14px;
      margin-bottom: 30px;
      max-width: 660px;
      font-weight: 500;
    }

    strong {
      font-size: 18px;
      line-height: 1.333em;
      color: $titleColor;
      max-width: 660px;
    }

    img,
    picture {
      margin-bottom: 40px;
    }
  }
}

.values {
  padding: 200px 0;

  @include d(991) {
    padding: 100px 0;
  }

  &__title {
    margin-bottom: 150px;

    @include d(991) {
      margin-bottom: 60px;
    }
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-box {
    max-width: 280px;

    @include d(767) {
      margin: 0 auto 80px auto;
      text-align: center;
    }

    &__img {
      margin-bottom: 45px;
      position: relative;
      max-width: 140px;

      @include d(767) {
        margin: 0 auto 45px auto;
      }

      &::before {
        content: "";
        width: 145px;
        height: 145px;
        background-color: $grey2;
        opacity: .3;
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        border-radius: 50%;
      }
    }

    img,
    picture {
      height: 80px;
      width: auto;
      margin: 0 auto;
    }

    .title-4,
    h4 {
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
    }
  }
}

.map {
  margin-bottom: 150px;

  @include d(1199) {
    margin-bottom: 100px;
  }

  @include d(991) {
    margin-bottom: 60px;
  }
}