@import "../base/variables";
@import "../base/mixins";

.project {
  &-hero {
    &__title {
      color: $titleColor;
      margin-bottom: 15px;
    }

    &__img {
      max-width: 530px;
      flex: 0 0 530px;
      margin-right: 0;
      margin-left: auto;

      @include d(767) {
        max-width: calc(100% + 30px);
        margin: 0 -15px;
      }
    }
  }

}

.address {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  padding: 40px 0;
  margin: 0 -15px;

  &__box {
    font-size: 14px;
    flex: 0 0 240px;
    max-width: 50%;
    margin-bottom: 20px;
    padding: 0 15px;
  }

  .btn {
    margin-left: 15px;
  }

}

.services {
  padding: 100px 0;

  @include d(1199) {
    padding: 80px 0;
  }

  @include d(991) {
    padding: 60px 0 20px 0;
  }

  &__title {

    .title-2,
    h2 {
      margin-bottom: 20px;
      font-size: 54px;

      @include d(1199) {
        font-size: 48px;
      }

      @include d(991) {
        font-size: 30px;
      }

      @include d(767) {
        font-size: 26px;
      }
    }

    p {
      max-width: 540px;
      font-size: 14px;
    }
  }

  &__list {
    counter-reset: counter;

    @include d(767) {
      margin-left: 30px;
      margin-top: 30px;
    }
  }

  &__item {
    counter-increment: counter;
    position: relative;
    padding-left: 100px;
    max-width: 370px;
    margin-bottom: 60px;

    @include d(767) {
      margin-bottom: 40px;
    }

    &::before {
      content: "0"counter(counter);
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      font-size: 24px;
      font-weight: 900;
      -webkit-text-stroke: 1px $titleColor;
      color: transparent;
    }

    &::after {
      content: "";
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: $grey2;
      opacity: .3;
      position: absolute;
      top: 50%;
      left: -30px;
      transform: translate(0, -50%);

    }
  }
}

.facts {
  padding: 100px 0;

  @include d(1199) {
    padding: 80px 0;
  }

  @include d(991) {
    padding: 0;
  }

  &__title {
    margin-bottom: 80px;

    @include d(1199) {
      margin-bottom: 40px;
    }

    @include d(991) {
      font-size: 20px;
    }

    h2,
    .title-2 {
      font-size: 54px;

      @include d(1199) {
        font-size: 48px;
      }

      @include d(991) {
        font-size: 30px;
      }

      @include d(767) {
        font-size: 26px;
      }
    }
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    border-bottom: 1px solid $grey1;
    counter-reset: counter;

    @include d(1199) {
      padding-bottom: 20px;
    }

    @include d(991) {
      border-bottom: none;
    }
  }

  &__item {
    counter-increment: counter;
    max-width: 50%;
    flex: 0 0 50%;
    padding-left: 50px;
    margin-bottom: 60px;
    padding-right: 40px;
    position: relative;

    &::before {
      content: "0"counter(counter);
      position: absolute;
      top: 0;
      transform: translate(0, -50%);
      left: 0;
      font-size: 24px;
      font-weight: 900;
      -webkit-text-stroke: 1px $grey1;
      color: transparent;
    }


    @include d(767) {
      max-width: 100%;
      flex: 0 0 100%;
      margin-bottom: 40px;
      padding-right: 0;
      padding-left: 0;
      padding-top: 20px;

      .title-4 {
        font-size: 18px;
      }
    }
  }
}

.learn {
  padding-bottom: 100px;
  margin-bottom: 100px;
  border-bottom: 1px solid $grey1;

  @include d(1199) {
    padding-bottom: 80px;
    margin-bottom: 80px;
  }

  @include d(991) {
    padding-bottom: 60px;
    margin-bottom: 60px;
  }

  .title-2,
  h2 {
    @include d(991) {
      font-size: 24px;
    }
  }

  &-article {
    max-width: 540px;
    margin-right: auto;
    margin-left: 0;

    @include d(991) {
      max-width: 100%;
      padding-left: 60px;
    }

    @include d(767) {
      padding-left: 0;
    }

    ul {
      margin: 20px 0 20px 20px;
      font-weight: 500;
      list-style-type: disc;

      li {
        position: relative;
        padding-left: 15px;
        list-style: disc;
      }
    }

    p,
    span {
      display: block;
      line-height: 20px;
      font-weight: 500;
      margin-bottom: 15px;


      span {
        font-weight: bold;
        font-size: 18px;
      }
    }

    strong {
      color: $titleColor;
      font-size: 18px;
    }


    a {
      color: $titleColor;
    }
  }
}

.knowledge-article {
  margin-bottom: 40px;

  h1,
  .title-2,
  h2,
  .title-2 {
    font-size: 54px;

    @include d(1199) {
      font-size: 48px;
    }

    @include d(991) {
      font-size: 24px;
      max-width: 500px;
    }
  }
}

.article {
  .lines {
    top: 800px;
  }

  overflow: hidden;
  max-width: 990px;
  margin: 60px auto;

  @include d(991) {
    margin: 40px 0;
  }

  @include d(767) {
    margin: 20px 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $titleColor;
    margin-bottom: 20px;
  }

  ol {
    margin: 20px 0 20px 20px;
    list-style-type: decimal;

    li {
      list-style-type: decimal;

    }
  }

  ul {
    margin: 20px 0 20px 20px;
    font-weight: 500;
    list-style-type: disc;

    li {
      position: relative;
      padding-left: 15px;
      list-style: disc;

      // &::before {
      //   content: " ";
      //   width: 3px;
      //   height: 3px;
      //   border-radius: 50%;
      //   background-color: $black;
      //   position: absolute;
      //   top: 10px;
      //   left: 5px;
      // }
    }
  }

  p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }

    span {
      font-weight: normal;
      font-size: inherit;
    }
  }

  img {
    margin-bottom: 40px;
    width: auto;
    // margin: 0 auto 30px auto;
  }

  // figure {
  //   margin: 40px 30px 40px 0;
  //   float: left;

  //   @include d(767) {
  //     float: none;

  //   }
  // }

  figcaption {
    font-size: 14px;
    color: $grey;
  }

  strong {
    color: $titleColor;
    font-size: 18px;
  }

  span {
    font-weight: bold;
    font-size: 18px;
  }

  a {
    color: $titleColor;
  }

  &-banner {
    figcaption {
      font-size: 14px;
      line-height: 20px;
      color: $grey;
    }

    img {
      max-height: 488px;
      margin: 20px 0;
    }
  }
}

.knowledge__related {
  @include d(767) {
    .align-items-center {
      @include d(767) {
        margin-bottom: 30px;
      }
    }

    .section__title {
      margin-bottom: 0;

      p {
        display: none;
      }
    }
  }
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 80px;

  &_lg {
    padding-bottom: 0;

    .card__project {
      &:first-of-type {
        flex: 0 0 100%;
        max-width: 100%;
        min-height: 480px;
        overflow: hidden;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: linear-gradient(180deg, rgba(38, 38, 38, 0) 42.64%, #262626 100%);
          z-index: 1;
        }

        img {
          object-fit: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .card__content {
          position: absolute;
          bottom: 50px;
          left: 40px;
          color: $white;
          z-index: 2;

          @include d(767) {
            bottom: 20px;
            left: 20px;
          }

          p {
            max-width: 220px;
            padding-right: 0;
          }

          .title-4,
          h4 {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

.projects-btns {
  margin: 40px 0 80px 0;
  text-align: center;
}

.card__project {
  display: block;

  @include d(767) {
    max-width: 100%;
    flex: 0 0 100%;
  }

  picture,
  img {
    height: 310px;
    overflow: hidden;
    margin-bottom: 20px;
    object-fit: cover;

    @include d(1199) {
      height: 260px;
      margin-bottom: 0;
    }
  }

  &:hover {

    & .title-4,
    h4 {
      &::before {
        opacity: 1;
      }
    }
  }

  &::before {
    display: none;
  }

  p {
    padding-right: 50px;
  }

  h4,
  .title-4 {
    position: relative;
    padding-right: 40px;

    &::before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      background-image: url(../img/svg/arrow-up-right-black.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: opacity $hover-duration $timing;
    }
  }
}

.projects {
  &-accordion {
    max-width: 260px;

    @include d(991) {
      display: flex;
      max-width: 100%;
      width: 100%;
      justify-content: space-between;
    }

    &__item {
      font-size: 16px;
      font-weight: 500;
      position: relative;
      margin-bottom: 20px;
      cursor: pointer;
      transition: color $hover-duration $timing;

      &.slick-slide {
        pointer-events: none;
      }

      &>a,
      &>span {
        position: relative;
        padding-left: 15px;
        padding-bottom: 10px;

        @include d(767) {
          padding-right: 20px;
          margin-bottom: 10px;
        }
      }

      &.slick-current {
        pointer-events: initial;

        &>a,
        &>span {
          color: $black;

          &::after {
            background-image: url(../img/svg/arrow-down.svg);
          }
        }

      }

      @include d(1199) {
        font-size: 16px;
      }

      @include d(991) {
        font-size: 14px;
        flex: 0 0 25%;
        padding-left: 0;
        padding-right: 10px;
      }

      @include d(767) {
        padding-right: 20px;
        flex: 0 0 auto;
        color: $grey;
        font-weight: 400;
      }

      &:not(:last-child) {
        @include d(991) {
          border-right: 1px solid $grey1;
          margin-right: 10px;
        }

        @include d(767) {
          border-right: none;
          margin-right: 0;
        }
      }


      &_icon {

        &>a,
        &>span {

          &::before,
          &::after {
            content: "";
            position: absolute;
            background-color: $black;

            @include d(991) {
              display: none;
            }
          }

          &::before {
            width: 8px;
            height: 1px;
            top: 10px;
            left: 0;
            transition: background-color $hover-duration $timing;
          }

          &::after {
            width: 1px;
            height: 8px;
            top: 7px;
            left: 3px;
            transform: rotate(0);
            transition: transform $hover-duration $timing, background-color $hover-duration $timing;

            @include d(767) {
              display: block;
              width: 12px;
              background-image: url(../img/svg/arrow-down-grey.svg);
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              background-color: transparent;
              top: 6px;
              left: auto;
              right: 0;
            }
          }

          &.active {
            font-weight: 600;

            // a {
            &::after {
              transform: rotate(90deg);
              background-color: $titleColor;

              @include d(767) {
                background-color: transparent;
                transform: rotate(180deg);
              }
            }

            &::before {
              background-color: $titleColor;
            }

            // }
          }
        }


        &_inner {

          &>a,
          &>span {

            &::before,
            &::after {
              content: "";
              position: absolute;
              background-color: $black;

              @include d(991) {
                display: none;
              }
            }

            &::before {
              width: 8px;
              height: 1px;
              top: 10px;
              left: 15px;
              transition: background-color $hover-duration $timing;
            }

            &::after {
              width: 1px;
              height: 8px;
              top: 7px;
              left: 19px;
              transform: rotate(0);
              transition: transform $hover-duration $timing, background-color $hover-duration $timing;

              @include d(767) {
                display: block;
                width: 12px;
                background-image: url(../img/svg/arrow-down-grey.svg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent;
                top: 6px;
                left: auto;
                right: 0;
              }
            }

            &.active {
              font-weight: 600;

              &::after {
                transform: rotate(90deg);
                background-color: $titleColor;

                @include d(767) {
                  background-color: transparent;
                  transform: rotate(180deg);
                }
              }

              &::before {
                background-color: $titleColor;
              }
            }
          }


        }
      }
    }

    &__sublist {
      max-height: 0;
      overflow: hidden;
      transition: max-height $hover-duration $timing;

      @include d(991) {
        max-height: 100%;
        overflow: visible;
        margin-top: 15px;
      }

      @include d(767) {
        max-height: 0;
        overflow: hidden;
        margin-top: 0;

      }
    }

    &__subitem {
      font-size: 16px;
      font-weight: 400;
      padding-left: 30px;
      position: relative;
      color: $black;
      margin-bottom: 10px;

      @include d(991) {
        font-size: 14px;
      }

      ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height $hover-duration $timing;

        li {
          padding-left: 10px;
          position: relative;

          &::before {
            content: "";
            width: 2px;
            height: 2px;
            background-color: $black;
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 0;
          }

          &>a,
          &>span {
            &:hover {
              color: $primary;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.card__related {
  max-width: 100%;
  width: 100%;

  img,
  picture {
    height: 260px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 30px;
  }
}