<!-- footer start -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer__content">
          <div class="footer-box">
            <a href="#" class="logo footer__logo">
              <img src="img/logo-white.svg" alt="sig" />
            </a>
            <h2 class="title-2">Subscribe</h2>
            <div class="footer-form">
              <form action="./">
                <label>
                  <input type="email" placeholder="Write Your E-mail" />
                </label>
              </form>
            </div>
          </div>
          <div class="footer-box">
            <h4 class="title-4">Expertise</h4>
            <ul>
              <li class="footer-list__subtitle">Building Services</li>
              <li>
                <a href="#">Sustainable buildings</a>
              </li>
              <li>
                <a href="#">Healthy buildings</a>
              </li>
              <li>
                <a href="#">Specialty services</a>
              </li>
              <li>
                <a href="#">Innovation</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <ul>
              <li class="footer-list__subtitle">Strategy & Advisory</li>
              <li>
                <a href="#">Decarbonization</a>
              </li>
              <li>
                <a href="#">Social wellbeing</a>
              </li>
              <li>
                <a href="#">Corporate Sustainability</a>
              </li>
              <li>
                <a href="#">Compliance & Reporting</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <ul>
              <li class="footer-list__subtitle">Commissioning and Asset management</li>
              <li>
                <a href="#">Commissioning</a>
              </li>
              <li>
                <a href="#">Retro commissioning</a>
              </li>
              <li>
                <a href="#">Energy audits and modeling</a>
              </li>
            </ul>
          </div>

          <div class="footer-box">
            <div class="footer-social">
              <h4 class="title-4">Follow Us</h4>
              <ul class="footer-social__list">
                <li>
                  <a href="#" target="_blank">
                    <svg class="svg-icon_social">
                      <use xlink:href="img/svg/sprite-svg/sprite.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <svg class="svg-icon_social">
                      <use xlink:href="img/svg/sprite-svg/sprite.svg#twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <svg class="svg-icon_social">
                      <use xlink:href="img/svg/sprite-svg/sprite.svg#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <svg class="svg-icon_social">
                      <use xlink:href="img/svg/sprite-svg/sprite.svg#youtube"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <svg class="svg-icon_social">
                      <use xlink:href="img/svg/sprite-svg/sprite.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
              <p class="copyright">
                &copy; 2021 SIG. All Rights Reserved. Privacy Policy
              </p>
            </div>
          </div>
          <div class="footer-box">
            <ul>
              <li class="footer-list__subtitle">Innovation</li>
            </ul>
          </div>
          <div class="footer-box">
            <h4 class="title-4">Projects</h4>
            <ul>
              <li>
                <a href="#">Sustainable buildings</a>
              </li>
              <li>
                <a href="#">Healthy buildings</a>
              </li>
              <li>
                <a href="#">Specialty services</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <h4 class="title-4">People</h4>
            <ul>
              <li>
                <a href="#">Our team</a>
              </li>
              <li>
                <a href="#">Careers</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <h4 class="title-4">About</h4>
            <ul>
              <li>
                <a href="#">Who we are</a>
              </li>
              <li>
                <a href="#">A responsible company</a>
              </li>
              <li>
                <a href="#">Partners</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <h4 class="title-4">Contact</h4>
            <div class="contact-info">
              <div class="contact-info__box">
                <svg class="svg-icon_sm">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#map-pin"></use>
                </svg>
                <p>Sustainable Investment Group (SIG)</p>
                <p>Atlanta Headquarters</p>
                <p>1155 Mt Vernon Highway NE</p>
                <p>Suite 800</p>
                <p>Atlanta, GA 30338</p>
              </div>
            </div>
            <div class="contact-info__box">
              <svg class="svg-icon_sm">
                <use xlink:href="img/svg/sprite-svg/sprite.svg#phone"></use>
              </svg>
              <a href="tel:4043433835">404-343-3835</a>
            </div>
            <div class="contact-info__box">
              <svg class="svg-icon_sm">
                <use xlink:href="img/svg/sprite-svg/sprite.svg#mail"></use>
              </svg>
              <a href="mailto:michaelf@sigearth.com">michaelf@sigearth.com</a>
            </div>
          </div>
          <div class="footer-box">

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->