<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-row">
          <a href="./" class="logo">
            <img src="img/logo.svg" alt="sig" />
          </a>
          <nav class="menu js-menu">
            <ul class="menu-list">
              <li>
                <a href="#">Expertise</a>
                <ul class="sub-menu js-sub-menu">
                  <li>
                    <a href="#">Title 1</a>
                  </li>
                  <li>
                    <a href="#">Title 2</a>
                  </li>
                  <li>
                    <a href="#">Title 3</a>
                  </li>
                  <li>
                    <a href="#">Title 4</a>
                  </li>
                  <li>
                    <a href="#">Title 5</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Projects</a>
                <ul class="sub-menu js-sub-menu">
                  <li>
                    <a href="#">Sustainable buildings</a>
                  </li>
                  <li>
                    <a href="#">Healthy buildings</a>
                  </li>
                  <li>
                    <a href="#">Specialty services</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Knowledge</a>
                <ul class="sub-menu js-sub-menu">
                  <li>
                    <a href="#">Title 1</a>
                  </li>
                  <li>
                    <a href="#">Title 2</a>
                  </li>
                  <li>
                    <a href="#">Title 3</a>
                  </li>
                  <li>
                    <a href="#">Title 4</a>
                  </li>
                  <li>
                    <a href="#">Title 5</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">People</a>
                <ul class="sub-menu js-sub-menu">
                  <li>
                    <a href="#">Title 1</a>
                  </li>
                  <li>
                    <a href="#">Title 2</a>
                  </li>
                  <li>
                    <a href="#">Title 3</a>
                  </li>
                  <li>
                    <a href="#">Title 4</a>
                  </li>
                  <li>
                    <a href="#">Title 5</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">About</a>
                <ul class="sub-menu js-sub-menu">
                  <li>
                    <a href="#">Title 1</a>
                  </li>
                  <li>
                    <a href="#">Title 2</a>
                  </li>
                  <li>
                    <a href="#">Title 3</a>
                  </li>
                  <li>
                    <a href="#">Title 4</a>
                  </li>
                  <li>
                    <a href="#">Title 5</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <div class="search-form">
            <form action="./" class="js-header-form">
              <label class="label">
                <input
                  type="search"
                  placeholder="Search..."
                  autocomplete="off"
                />
              </label>
              <button class="btn-search btn-search_submit"></button>
            </form>
            <button class="btn-search js-toggle-form" type="button"></button>
          </div>
          <button class="burger js-burger">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
